p, span {
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
  font-size: 15px;
  line-height: 25px;
 }

 h1, h2, h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 70px;
 }

nav {

    font-size: 13px;
    font-family: fantasy, serif;
    text-align: center;
  
  }
  
  .current-page {
    font-weight: bold;
  
  }
  
  .name {
    color: green;
  }
  
  nav ul {
      display: inline;
  }
  
  nav li {
    display: inline;
    margin: 0px;
    padding: 5px;
  }
  
  

  .thanks-img { 
    border-top: 30px;

  }

   h5{
     text-align: center;
   }
  