body {
  font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
  font-size: 15px;
  line-height: 25px;
  color: palegreen;
  background-color: black;
 }

 h1, h2, h3, nav {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 70px;
  color: green;
 }

nav {

    font-size: 13px;
    text-align: center;
  
  }
  
  .current-page {
    font-weight: bold;
  
  }
  
  .name {
    color: green;
  }
  
  nav ul {
      display: inline;
  }
  
  nav li {
    display: inline;
    margin: 0px;
    padding: 5px;
  }
  
  

  .thanks-img { 
    border-top: 30px;

  }

  
  main {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
  }
  